<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#">Board</a></li>
    </ol>
  </nav>
</div>

<!--Design about page so that each member gets one square-->
<h1 style="text-align: center;">About Us</h1>
<!--First box should have Jacob.
Then Carson and Me as second line
Then Matt and Reese
onerror="this.src='https\:\/\/via.placeholder.com/728x90.png'"-->
<div class="d-flex p-2 flex-wrap flex-row">
  <img src="https://via.placeholder.com/720x290.png" class="flex-item float-md-start pe-3">
  <p class="flex-sm-grow-1" style="width:32em">
    Hello. My name is Jacob Albert and I am the founder and President of Geared for Greatness. During my free time, I like to partake in playing sports such as lacrosse, or watching football. In college I hope to major in Finance. Subjects I tutor include any Math up to Pre-Calculus, English, any science up to Chemistry, certain AP Courses such as AP Human Geography, AP Computer Science Principles, and AP Microeconomics. Over my time in High School, I have grown to appreciate the ability to educate others, along with giving back to my community and helping those that need it the most.
  </p>

</div>

<div class="d-flex justify-content-evenly">
  <div class="">
    <img src="https://via.placeholder.com/320x290.png" class="flex-item float-md-start">
    <p>
      bla bla
    </p>
  </div>
  <div class="">
    <img src="https://via.placeholder.com/320x290.png" class="flex-item float-md-start">
    <p>
      bla bla bla
    </p>
  </div>
</div>

<div class="d-flex justify-content-evenly">
  <div class="">
    <img src="https://via.placeholder.com/320x290.png" class="flex-item float-md-start">
    <p>
      bla bla
    </p>
  </div>
  <div class="">
    <img src="https://via.placeholder.com/320x290.png" class="flex-item float-md-start">
    <p>
      bla bla bla
    </p>
  </div>
</div>
